.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--footer-background-color);

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.page-footer__title {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--white-text-color);

  @include title-uppercase;
}
