.menu-button {
  display: inline-flex;
  padding: 0;
  margin-left: auto;
  border: none;
  background-color: transparent;

  @media screen and(min-width:768px) {
    display: none;
  }
}

.menu-button__icon-close {
  .menu-button & {
    display: none;
  }
  .menu-button.is-open & {
    display: block;
  }
}

.menu-button__icon-menu {
  .menu-button & {
    display: block;
  }
  .menu-button.is-open & {
    display: none;
  }
}
