.menu-button {
  display: inline-flex;
  padding: 0;
  margin-left: auto;
  border: none;
  background-color: transparent;

  transition: color 250ms var(--timing-function);

  @media screen and(min-width:768px) {
    display: none;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.menu-button__icon-close {
  fill: currentColor;
  .menu-button & {
    display: none;
  }
  .menu-button.is-open & {
    display: block;
  }
}

.menu-button__icon-menu {
  fill: currentColor;
  .menu-button & {
    display: block;
  }
  .menu-button.is-open & {
    display: none;
  }
}
